@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body {
  /* Change to something you like, but please do customize the font! */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  background-color: cadetblue;
  background-size: 200px 5000px ;
}

.screen {
  font-family: 'DotGothic16', sans-serif;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#f5f5dc;
  background-color: rgb(118, 147, 201);
  width: 1475px;
  height: 555px;
  border: 3px solid #f5f5dc;
  overflow-y: scroll;
}

#title {
  font-size: 100px;
}

.info {
  color:rgb(175, 144, 234)
}
.about-me {
color:rgb(219, 150, 205)
}

.projects {
  color:rgb(239, 183, 153)
}

