@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body {
  width: 95vw;
  height: 56.25vw;
  background: url(computerbg.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.screen {
  font-family: 'DotGothic16', sans-serif;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #f5f5dc;
  background: none;
  max-width: 1000px;
  width: 60vw; /* Adjust the width as needed */
  margin-left: 20vw;
  margin-top: 5vw;
  height: 450px;
  overflow-y: scroll;
}

#title {
  font-size: 60px;
}

.info {
  color:rgb(229, 218, 248);
}
.about-me {
color:rgb(247, 195, 237);
}

.projects {
  color:rgb(248, 213, 194)
}

